@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply font-quickSand;
  overflow-x: hidden;
}

.material-symbols-rounded.filled {
  font-variation-settings: "FILL" 1;
}

.display_size {
  @apply xl:max-w-7xl lg:max-w-5xl md:max-w-4xl sm:max-w-2xl px-1 mx-auto;
}
.display_size_noPadding {
  @apply xl:max-w-7xl lg:max-w-5xl md:max-w-4xl sm:max-w-2xl mx-auto;
}

li.mobile_menu_hover:hover {
  @apply text-white;
}

li.mobile_menu_hover:hover > p {
  @apply underline;
}

li.mobile_menu_hover:hover > ul {
  @apply block;
}

div.women_gradient {
  background: #113946;
  background: -webkit-radial-gradient(
    circle farthest-corner at top right,
    #2885a4 0%,
    #113946 44%
  );
  background: -moz-radial-gradient(
    circle farthest-corner at top right,
    #2885a4 0%,
    #113946 44%
  );
  background: radial-gradient(
    circle farthest-corner at top right,
    #2885a4 0%,
    #113946 44%
  );
}

div.men_gradient {
  background: #ead7bb;
  background: -webkit-radial-gradient(
    circle farthest-corner at top left,
    #fff7e8 0%,
    #ead7bb 44%
  );
  background: -moz-radial-gradient(
    circle farthest-corner at top left,
    #fff7e8 0%,
    #ead7bb 44%
  );
  background: radial-gradient(
    circle farthest-corner at top left,
    #fff7e8 0%,
    #ead7bb 44%
  );
}

div.dark_to_light {
  background: #fff2d8;
  background: linear-gradient(to top, #fff2d8 0%, #113946 100%);
}

div.light_to_dark {
  background: #113946;
  background: linear-gradient(to top, #113946 0%, #bca37f 100%);
}

.grid-template {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.text_shadow {
  text-shadow: 1px 1px 2px #113946;
}

.drop_shadow {
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 768px) {
  .remove_from_small_screen {
    display: none;
  }
}
